@import "reset.scss";

@include reset-css;

html,
body,
.app-root,
#root {
    font-family: "Roboto", verdana, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;

    input:focus {
        outline: none;
    }
}
