.credit-card-form {
    .header {
        background: #3f51b5;
        color: #fff;
        padding: 1.5rem 5rem;
        font-size: 1.5rem;
    }

    .form {
        background: #fff;
        padding: 1rem 5rem;
        height: 27rem;

        .input-fields {
            .row {
                display: flex;
                padding-top: 2rem;

                .input-field {
                    &:not(:first-child) {
                        padding-left: 1rem;
                    }

                    .input-label {
                        display: flex;
                        align-items: center;

                        .form-field-icon {
                            padding: 0.5rem;
                        }
                    }

                    .form-input {
                        border: none;
                        border-bottom: 1px #dbd9d9 solid;

                        &::-webkit-inner-spin-button,
                        &::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &:focus {
                            border-bottom: 1px #3f51b5 solid;
                        }
                    }

                    .incorrect-input-warning {
                        font-size: 0.9rem;
                        padding-top: 0.6rem;
                        color: red;
                    }
                }
            }
        }

        .buttons {
            padding-top: 2rem;

            input {
                background: #e91e63;
                color: #fff;
                border: 0;
                border-radius: 3px;
                padding: 1rem 3rem;
                text-transform: uppercase;
                font-size: 1.05rem;
            }
        }

        .error-list {
            .error {
                color: red;
                display: flex;
                align-items: center;
                padding: 1rem 0;

                .error-icon {
                    padding-right: 1rem;
                }

                .error-message {
                    font-size: 0.8rem;
                }
            }
        }
    }
}
